@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap");

:root {
  --header-text: "Lobster", "sans-serif";
  --header-text-color: #c689ee;
  --main-text: "Lora", "sans-serif";
  --light-green-color: #46f06b;
  --red-color: #8c0a0a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home-body {
  display: flex;
  flex: 1;
}

@media (max-width: 992px) {
  .home-body {
    display: flex;
    flex-direction: column;
  }
}
